@import './variables.scss';

// Intro-card
#intro-card {
  vertical-align: top;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  background: $base-background !important;
  -webkit-print-color-adjust: exact;

  // profile-pic
  .profile-image {
    text-align: center;
    vertical-align: top;
    margin: 0 auto;

    img {
      max-width: 200px;
      border: 3px solid #fff;
      border-radius: 50%;
    }

    h4 {
     margin: 0; 
    }
  }

  @media (max-width: 750px) {
    .profile-image {
      width: 100%;
    }
  }
}